.branding {
  cursor: pointer;
  overflow: hidden;
  padding-top: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.branding img {
  position: relative;
  top: -4px;
  width: 48px;
  height: 48px;
}

.spacer {
  flex: 1 1 auto;
}