<header>
  <nav
    class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3 fixed-top"
  >
    <a class="navbar-brand" href="#">
      <img src="{{logo}}" width="30" height="30" class="d-inline-block align-top" alt="">
      Weather App
    </a>
    <form class="form-inline mt-2 mt-md-0 ml-auto">
      <div class="btn-group" role="group" aria-label="Temperature Unit">
        <button type="button" class="btn btn-outline-secondary">C &deg;</button>
        <button type="button" class="btn btn-outline-secondary">F &deg;</button>
      </div>
    </form>
  </nav>
</header>
